<!-- Modal -->

<div class="modal fade" id="addRecipeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New Recipe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/recipes" class="row g-3 needs-validation" novalidate>
                    <div class="mb-3 row">
                    <div class="col">
                        <label for="mealName" class="form-label">Meal Name</label>
                        <input type="text" class="form-control" id="mealName" name="mealName" placeholder="Ketchup" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4" id="menuType">
                        <label for="menuType" class="form-label">Menu Type</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="breakfastCheck" name="breakfastCheck" value="breakfast">
                            <label class="form-check-label" for="breakfastCheck">
                                Breakfast
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="lunchCheck" name="lunchCheck" value="lunch">
                            <label class="form-check-label" for="lunchCheck">
                                Lunch
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="dinnerCheck" name="dinnerCheck" value="dinner">
                            <label class="form-check-label" for="dinnerCheck">
                                Dinner
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="propertiesToogles" class="form-label">Properties</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="vegetarianSwitch" name="vegetarianSwitch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">vegetarian</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="sundaySwitch" name="sundaySwitch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">sunday</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="quickSwitch" name="quickSwitch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">&lt;15min</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="propertiesToogles" class="form-label">Difficulty</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="easy">
                            <label class="form-check-label" for="flexRadioDefault1">
                              easy
                            </label>
                        </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="medium">
                            <label class="form-check-label" for="flexRadioDefault2">
                              medium
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="difficult">
                            <label class="form-check-label" for="flexRadioDefault3">
                                difficult
                            </label>
                          </div>
                    </div>

                    <!--div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div-->
                    <div class="col-12">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" >Add</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>